@font-face {
    font-family: 'cactusitalic';
    src: url('../fonts/cactus_medium_italic-webfont.eot');
    src: url('../fonts/cactus_medium_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cactus_medium_italic-webfont.woff') format('woff'),
         url('../fonts/cactus_medium_italic-webfont.ttf') format('truetype'),
         url('../fonts/cactus_medium_italic-webfont.svg#cactusmediumitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cactus';
    src: url('../fonts/cactus_medium-webfont.eot');
    src: url('../fonts/cactus_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cactus_medium-webfont.woff') format('woff'),
         url('../fonts/cactus_medium-webfont.ttf') format('truetype'),
         url('../fonts/cactus_medium-webfont.svg#cactusmediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
